<div class="map_box iw-wrapper">
  <div class="map_box iw-content">
      <div class="map_box iw-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <h4><strong><%= surfcamp.name %></strong></h4>
        <%= link_to "Details", surfcamp_path(surfcamp), target: :blank, class: "btn btn-map-box" %>
      </div>
      <div class="map_box iw-price-wrapper">
        <span class="bike_index_iw-price-wrapper-price">
          <p>50€</p>
        </span>
      </div>
      <div class="map_box iw-body-wrapper">
        <div class="map_box iw-body-content">
          <div class="map_box iw-flex-container">
            <ul>
              <li class="flex-temp">Temp</li>
              <li class="flex-weather">Soleil</li>
              <li class="flex-wave">EpicVague</li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>



  <!-- <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div> -->
