<div class="map_box iw-wrapper">
  <div class="map_box iw-content">
    <div class="map_box iw-image">
        <div class="map_box iw-image-structure" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path surfcamp.photo.path, width: 400, height: 400, crop: :fill, fetch_format: :auto %>);">
           <%= link_to "", surfcamp_path(surfcamp), class: "surfcamp-infowindow-link" %>


          <div class="map_box iw-price-wrapper">
            <span class="bike_index_iw-price-wrapper-price">
             <p>50€</p>
            </span>
          </div>


          <div class="map_box iw-body-wrapper">
            <div class="map_box iw-body-content">
              <div class="map_box iw-flex-container">
                <span class="flex-children">Temp</span>
                <span class="flex-children">Soleil</span>
                <span class="flex-children">Epic Vague</span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

