// Specific CSS for your home-page
.banner {
  height: 100vh;
}
.banner-content h3 {
  color:white;
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px  #696969;
}


.search-home-input {
  text-align: left;
  border: none;
  font-size: 19px;
}
  input::placeholder {
    // color: $blue;
    // opacity: 1 !important;
  font-weight: lighter;
  }

.search-home-label {
  text-align: left;
  display: block;
  padding: 5px 10px 0;
  font-weight: lighter;
  font-size: 15px;
}

.search-home-btn {
  border-radius: 15px;
  margin: 25px 15px;
  padding: 10px;
  transition: background-color 0.3s;
  margin-top: 50px;

  a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.2em;
    padding: 5px;
  }
}

// .search-home-btn:hover {
//   transition: background-color 0.4s
// }
.search-where {
  display: table-cell !important;
  vertical-align: middle !important;
  position: relative;
}

