// Specific CSS for your home-page
.banner-wrapper {
  background-color: rgb(37, 37, 37);
}

.banner {
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;


  video {
    position: absolute;
    z-index: 0;
    width: 100vh;
    height: 80vh;
    object-fit: cover;
    border-radius: 2%;
    // filter: sepia(40%);
    // background: linear-gradient(top, rgba(255,145,0,0.2) 0%,rgba(255,230,48,0.2) 60%), linear-gradient(20deg, rgba(255,0,0,0.5) 0%,rgba(255,0,0,0) 35%);
  }



.banner-content {
  z-index: 1;

  h3 {
    color: $white;
    font-size: 48px;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px  #696969;
    text-align: center;
    font-family: 'Pacifico', cursive;
    max-width: 100vh;
  }

.banner-home-title {
  display: flex;
  justify-content: center;
}
  // .search-home {
  //   border-radius: 8px;
  //   background: none;
  //   // background-color: rgba(241, 246, 245, 0.6);
  //   color: white;
  //   letter-spacing: 0.1em;
  //   border: 3px solid white;
  //   padding: 10px 15px;
  //   margin-top: 50px;
  //   font-weight: lighter;
  //   opacity: 0.6;

    .main-CTA {
      text-align: center;
      padding-top: 30px;

      img{
        height: 50px;
      }
    }
  }
}



.home-card-container {
  min-height: 400px;
  margin: 0px auto 0 !important;
  position: relative !important;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(250, 252, 250, 0.6);
  // background-color: #F2FCFC;
  // z-index: -2;
  padding-top: 50px;
  padding-bottom: 80px;
  h3 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding-bottom: 10px;
  }

}

 .pola-wrapper {
    border-top: 1px solid rgba(154, 155, 148, 0.9);
    padding-bottom: 40px;
    padding-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
  }

.surfcamp-card-location {
  // position: relative;
  position: absolute;
  top: 5px;
  right: 0;

    background: rgba(255,255,255, 0.5);
    color: $gray;
    overflow: hidden;
    // float: right;
    // margin-bottom: -70px;
    z-index: 10;
    // padding: 10px;
    padding-top: 0;
    font-weight: bolder;
    // vertical-align: baseline;
    margin: 0;
    border:0;
    width: 200px;
    padding: 25px;
    border-radius: 1px;

}

.surfcamp-card-text-discount{
  background-color: $blue;
  max-width: 120px;
  padding: 3px 10px;
  position: absolute;
  top: 20px;
  p {
    font-size: 15px;
    // font-family: 'Waiting for the Sunrise', cursive;
    color: $white;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
}
.surfcamp-card-text-description {
  margin-top: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.surfcamp-card-s-name {
  max-width: 170px;
  p {
  font-size: 17px;
  font-family: 'Pacifico', cursive;
  color: $gray;
  opacity: 0.8;
  line-height: 1.8;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
}


.surfcamp-card-home {
  position: relative;
  margin: 20px;
  padding: 10px 10px 30px 10px;
  background-color: $white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
  }
}

.surfcamp-card-home:before, .surfcamp-card-home:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.surfcamp-card-home:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.surfcamp-card-text-discount-date {
    display: flex;
   p {
    font-size: 12px;
    opacity: 0.7;
    color: $gray;
    margin: 0;
    margin-right: 2px;
    }
  }

.surfcamp-card-text-price {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -8px;
  left: -29px;
  p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  } .promo-text {
    margin-left: 4px;
    font-size: 15px;
    opacity: 0.8;
    text-decoration: line-through;
    font-weight: normal;

  }
}
.surfcamp-card-price-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  position: absolute;
}

