// Specific CSS for your home-page
.banner-wrapper {
  background-color: black;
}

.banner {
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;


  video {
    position: absolute;
    z-index: 0;
    width: 100vh;
    height: 100vh;
    object-fit: cover;
  }


  .banner-content {
    z-index: 1;

    h3 {
      color:white;
      font-size: 48px;
      font-weight: lighter;
      letter-spacing: 0.1em;
      text-shadow: 1px 1px  #696969;
      text-align: center;
    }

    .search-home {
      border-radius: 10px;
      top: calc(80vh - 30px);
      left: 50%;
    }
  }
}



.home-card-container {
  min-height: 400px;
  margin: -15px auto 0 !important;
  position: relative !important;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(227, 248, 255, 0.4);
  z-index: -2;
  padding-top: 70px;
  h3 {
  }
}

.surfcamp-card-location {
  // position: relative;
  position: absolute;
  top: 5px;
  right: 0;

    background: rgba(255,255,255, 0.5);
    color: #000;
    overflow: hidden;
    // float: right;
    // margin-bottom: -70px;
    z-index: 10;
    // padding: 10px;
    padding-top: 0;
    font-weight: bolder;
    // vertical-align: baseline;
    margin: 0;
    border:0;
    width: 200px;
    padding: 25px;
    border-radius: 1px;

}

.surfcamp-card-text-disc {
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 100px;
  height: 35px;
  background-color: $white;
  border: solid 1px $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  p {
    font-size: 18px;
    font-weight: bold;
    color: $blue;
    margin: 0;
  }
}


.surfcamp-card-home {
  position: relative;
  margin: 20px;
  padding: 10px 10px 70px 10px;
  background-color: white;

  & img {
    width: 100%;
  }
}

.surfcamp-card-home:before, .surfcamp-card-home:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.surfcamp-card-home:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}




