<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
  <div class="footer-text">
    © 2017 Mooja.surf
  </div>
  <div class="footer-copyright">
    Travel the <i class="fa fa-globe"></i> with Mooja
  </div>
</div>
