<div class="banner">
  <video id="video" autoplay loop id="video-background" muted width="100%">
    <source src="http://res.cloudinary.com/dlnmbo3ol/video/upload/v1504015579/S%C3%A9quence_01_4_cibxv6.mp4" type="video/mp4">
  </video>
  <div class="banner-content">
    <h3>Last minute surfcamps, everywhere</h3>
    <%= link_to "Check deals", surfcamps_path, class: "search-home btn btn-primary" %>
  </div>
</div>

<% content_for(:navbar_class, "navbar_home") %>



<div class="home-card-container">
  <h3>Our best deals</h3>
  <div class="row">
    <% @surfcamps.each do |surfcamp| %>
      <% if surfcamp.photo? %>
        <div class="col-xs-12 col-sm-4">
          <div class="surfcamp-card-home">
              <%= link_to cl_image_tag(surfcamp.photo.path, width: 510, height: 350, crop: :lfill, fetch_format: :auto), surfcamp_path(surfcamp) %>
              <div class="surfcamp-card-text-disc">
                <p> <%= percentage_of_savings(surfcamp) %>% OFF</p>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>

            <!-- <div class="surfcamp-card-text">
              <div class="surfcamp-cart-text-price">

                <div class="surfcamp-card-text-disc">
                  <div class="text">
                    <p> <%#= percentage_of_savings(surfcamp) %>% OFF</p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
  </div>
</div>




