.booking-form {
  opacity:1;
  border-radius: 2px;
  border: 1px solid lightgrey;
  padding: 13px 20px;
  top: 0px;
  right: 0px;
  position:relative;
}

.form_error_message {
  color: $red;
  padding-bottom: 5px;
}


label {
  display: block;
}
