.home-card-container {
   min-height: 400px;
  margin: 0 auto !important;
  position: relative !important;
  padding-left: 24px;
  padding-right: 24px;
}

.surfcamp-card-location {
  // position: relative;
  position: absolute;
  top: 5px;
  right: 0;

    background: rgba(255,255,255, 0.5);
    color: #000;
    overflow: hidden;
    // float: right;
    // margin-bottom: -70px;
    z-index: 10;
    // padding: 10px;
    padding-top: 0;
    font-weight: bolder;
    // vertical-align: baseline;
    margin: 0;
    border:0;
    width: 200px;
    padding: 25px;
    border-radius: 1px;

}

.surfcamp-card-text-disc {
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 100px;
  height: 35px;
  background-color: $white;
  border: solid 1px $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  p {
    font-size: 18px;
    font-weight: bold;
    color: $blue;
    margin: 0;
  }
}


.surfcamp-card-home {
    position: relative;
    margin: 20px;

    & img {
      width: 100%;
    }
}


