.gm-style>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div:first-child>div:first-child>div:nth-child(2),.gm-style>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div:first-child>div:first-child>div:nth-child(4){
  display: none !important;
}

// selecting the right div for the X for closing the google maps infowindow
.gm-style>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div:first-child>div:nth-child(3){
  top: 19px !important;
  right: 40px !important;
}

// selecting the right div for the image of the google maps infowindow
.gm-style-iw{
  top: 17px !important;
}

.surfcamp-infowindow-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.banner-bottom-window {
  width: 100%;
  background-color: $blue;
  height: 40px;
  color:$white;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 12px;
}

.banner-bottom-price {
  font-size: 20px;
}

.banner-bottom-temperature {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 10px;
  padding: 0 15px;
  h5 {
    margin: auto!important;
  }
  p {
    margin: auto!important;
  }
}

.banner-bottom-weather {
  font-size: 10px;
  p {
    margin: auto!important;
  }
}
