.banner-surfcamp {
  width:100%;
  background-position: center;
}

.container {
  position: relative;
}

.booking_square {
  position: absolute;
  background-color: white;
  top: 0px;
  right: 0px;
  padding: 18px 12px;
}

.map {
  display: flex;
  width: 90%;
  justify-content:center;
  background: white;
  height: 350px;
  margin: 25px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
