
.banner-surfcamp {
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  // background-position: center !important;
}

@media(max-width: 720px) {
  .banner-surfcamp {
    height: 50vh;
    background-position: center !important;
  }
}

.container {
  position: relative;
}

.booking_square {
  position: absolute;
  background-color: white;
  top: 0px;
  right: 0px;
  padding: 18px 12px;
}

.map {
  display: flex;
  width: 90%;
  justify-content:center;
  background: white;
  height: 350px;
  margin: 25px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
