.surfcamp-card {
  position: relative;
  margin: 30px 30px 30px 30px;
  width: auto;
}
.surfcamp-card-pic img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
}
.surfcamp-card-text {
  margin-top: 15px;
  position: relative;
  max-height: 55px;
  min-height: 55px;
}
  p {
    font-size: 14px;
    margin: 0px;
}
.surfcamp-cart-text-price {
  font-weight: bold;
  text-align: left;
  color: $black;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip
}
.surfcamp-card-text-remaining-beds {
  font-size: 16px;
  text-align: left;
  padding: 14px 0px 7px;
  color: $blue;
  font-weight:bold;


}
.surfcamp-card-text-disc {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100px;
  height: 35px;
  background-color: $white;
  border: solid 1px $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 18px;
    font-weight: bold;
    color: $blue;
    margin: 0;
  }
}

.surfcamp-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.fa-star {
  font-size: 20px;
  margin-top: 20px;
}
.fa-star-o {
  margin-top: 20px;
  font-size: 20px;
}
